.main {
	height: 765px;
	padding: 98px 0 63px 0;
	background: url("../img/bg_header_1.jpg") center (center / cover) no-repeat;

	.header {
		&__wrapper {
			display: flex;
			justify-content: space-between;
		}
		&__logo {
			position: absolute;
			top: 55px;
			left: 50%;
			transform: translateX(-50%);
		}
		// &__call,
		&__phone {
			font-size: 16px;
			font-weight: 500;
			line-height: 13px;
			color: rgba(255, 255, 255, 0.6);
			text-transform: uppercase;
			text-decoration: none;
			transition: 0.3s all;
			&:hover {
				text-decoration: none;
				color: rgba($main-color, 0.6);
			}
		}
		&__button {
			width: 122px;
			height: 18px;
			line-height: 0;
			font-size: 16px;
			padding: 0;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.6);
			background-color: transparent;
			border-bottom: thin dashed rgba(255, 255, 255, 0.34);
			border-width: 2px;
			&:hover {
				border-radius: 50%;
				border-color: rgba($main-color, 0.34);
				color: rgba($main-color, 0.6);
				font-size: 16px;
			}
		}
	}
	nav {
		margin-top: 575px;
		.menu {
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			list-style-type: none;
			&__item {
				line-height: 11px;
			}
			a {
				font-size: 16px;
				font-weight: 500;
				line-height: 11px;
				color: #ffffff;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					color: $main-color;
					font-weight: 700;
					transition: 0.3s all;
				}
			}
		}
	}
}
