.main {
	min-height: 765px;
	padding: 98px 0 63px 0;
	background: url("../img/bg_header_1.jpg") center (center / cover) no-repeat;

	.header {
		&__wrapper {
			display: flex;
			justify-content: space-between;
		}
		&__logo {
			position: absolute;
			top: 55px;
			left: 50%;
			transform: translateX(-50%);
		}
		&__phone,
		&__call {
			font-size: 16px;
			font-weight: 500;
			line-height: 13px;
			color: rgba(255, 255, 255, 0.6);
			text-transform: uppercase;
		}
		button {
			width: 122px;
			height: -0.1em;
			// opacity: 0.34;
			border: 1px dashed $main-color;
		}
	}
	nav {
		margin-top: 580px;
		.menu {
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			list-style-type: none;
			&__item {
				line-height: 11px;
			}
			a {
				font-size: 16px;
				font-weight: 500;
				line-height: 11px;
				color: #ffffff;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					color: $main-color;
					font-weight: 700;
				}
			}
		}
	}
}
